@{
    ViewData["Title"] = "Expenses";
}

@model List<Employee>

<div>
    <h1 class="display-4">Employees</h1>
    <br />
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Occupation</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach(var employee in Model)
                {
                    <tr>
                        <td>@employee.Id</td>
                        <td>@employee.Name</td>
                        <td>@employee.Email</td>
                        <td>@employee.Occupation</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
