@{
    ViewData["Title"] = "Employee Page";
}

<div class="text-center">
    <h1 class="display-4">Current location: Views/Employee/Index.cshtml</h1>
    <a asp-action="Employees" class="btn btn-primary">Navigate to Employee page</a>
</div>

