@{
    ViewData["Title"] = "Expenses";
}

<div class="text-center">
    <h1 class="display-4">Expenses</h1>
    <p>description...</p>
    <a asp-action="EstablishSQLConnection" class="btn btn-primary" >Test SQL connection</a>
    <a asp-action="CreateEditExpense" class="btn btn-secondary">Create new</a>
    <a asp-action="TestEntity" asp-controller="Home" class="btn btn-secondary">Test Entity</a>
</div>