@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Current location: Views/Home/Index.cshtml</h1>
    <a asp-action="Expenses" class="btn btn-primary">Navigate to Expense page</a>
</div>
